<div class="flex flex-col rounded-lg overflow-hidden h-full">
  <div class="flex items-center justify-between text-2xl p-6 bg-gray-300">
    <p class="text-4xl">Acme product management</p>
    <nav>
      <a class="mr-2 border-b-2 hover:border-b-gray-700" routerLink="/home">Home</a>
      <a class="border-b-2 hover:border-b-gray-700" routerLink="/products">Product List</a>
    </nav>
  </div>
  <div class="bg-gray-400 p-12 flex-1 flex">
    <div class="w-7/12 m-auto rounded-lg overflow-hidden">
      <img src="assets/images/logo.jpg">
    </div>
  </div>
</div>
